**/*.csv
**/*.csv.bz2
**/*.csv.gz
**/*.csv.xz
**/*.ods
**/*.pyc
**/*.xls
**/*.xlsx
**/*.zip
**/__pycache__
*.dump
*.dump.gz
.dockerignore
.git
.gitignore
.pytest_cache
Dockerfile
README.md
build
data
dist
docker/data
public
